/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech", sans-serif;
}

body {
  background-color: #7812b3;
}

/* Navbar */
nav {
  background-color: #10002b;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 5rem;
  gap: 5rem;
  position: relative;
  height: 12vh;
}

.logo {
  position: absolute;
  left: 0;
  width: 4rem;
  margin-left: 1rem;
}

/* Buscador */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.search-term {
  width: 100%;
  border: 3px solid #7b2cbf;
  font-size: 1.25rem;
  border-right: none;
  padding: 0.3125rem;
  height: 3rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.search-term:focus {
  color: #7b2cbf;
}

.searchButton {
  width: 2.5rem;
  height: 3rem;
  border: 1px solid #7b2cbf;
  background: #7b2cbf;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1.25rem;
}

.wrap {
  width: 35%;
}

/* items del nav */

.link {
  background: none;
  border: none;
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 10px;
  margin: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

.nav-subtitles {
  background: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

label {
  cursor: pointer;
}

.link:hover,
.nav-subtitles:hover {
  color: #fff;
}

.dropdown {
  position: relative;
}

/* Contenido desplegable del Menú */
.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: #7b2cbf;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-15px);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
  width: 10rem;
  display: flex;
  flex-direction: column;
  font-size: 1.05rem;
  z-index: 3;
}

.dropdown > .link:hover + .dropdown-menu,
.dropdown-menu:hover {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 0.25rem;
  transition: scale 0.15 ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.dropdown-links:hover {
  color: #10002b;
  transform: translateX(5px);
}

/* Formulario de inicio de sesión y registro */
.container-form {
  width: 20vw;
  text-align: center;
}

.container-form-ind {
  display: flex;
  justify-content: space-around;
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(16, 0, 43, 0.4);
  padding: 1rem;
}

.login-form input {
  width: 100%;
  display: block;
  margin: 1rem auto;
  background-color: transparent;
  border: none;
  border-bottom: #fff 1px solid;
  outline: none;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #fff;
}

.login-form input[type="button"] {
  width: 80%;
  margin: auto;
  border: solid 1px #fff;
  border-radius: 2rem;
  padding: 0.7rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #4a00e0;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.login-form input[type="button"]:hover {
  background-color: #7812b3;
  color: rgba(255, 255, 255, 0.8);
}

.form-title {
  font-size: 1.5rem;
}

.form-text {
  margin-top: 1rem;
}

.message {
  padding: 2rem 0 1rem;
}

.message p {
  font-size: 0.85rem;
}

.sign-up-button {
  padding: 0.6rem;
  border-radius: 2rem;
  /* border: none; */
  border: #fff 1px solid;
  outline: none;
  cursor: pointer;
  font-size: 0.85rem;
  margin-top: 0.8rem;
  transition: all 0.3s ease-in;
  /* background-color: rgba(16, 0, 43, 0.6); */
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
}

.sign-up-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #10002b;
}

.sign-up {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.sign-up.clicked {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.login.clicked {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

/* Tarjetas de Categorias */
#categories-cards {
  display: flex;
  justify-content: space-evenly;
  column-gap: 1rem;
  padding: 5rem 1rem 3rem;
  background-color: hsla(270, 100%, 13%, 1);
  background-image: radial-gradient(
      at 67% 0%,
      hsla(262, 100%, 8%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 96% 4%, hsla(270, 84%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(270, 73%, 34%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(272, 62%, 46%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(273, 67%, 58%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(274, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(278, 100%, 83%, 1) 0px, transparent 50%);
  position: relative;
}

.categories {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.7rem;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  flex: 1;
  transition: 0.5s all;
}

.categories h3 {
  margin-left: 0.8rem;
}

.categories:hover {
  filter: saturate(60%);
  filter: contrast(130%);
  flex: 1.5;
  color: #eeeeee;
  /* text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); */
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-title {
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  color: rgba(255, 252, 252, 0.7);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* text-shadow: 4px 4px 2px #240046; */
}

.peripherals {
  background-image: url(images/peripherals.png);
}

.notebooks {
  background-image: url(images/notebooks.png);
}

.chairs {
  background-image: url(images/chair2.png);
}

.consoles {
  background-image: url(images/consoles2.png);
}

.monitors {
  background-image: url(images/monitors.jpg);
}

.graphics-cards {
  background-image: url(images/graphics-card.png);
}

/* Slider principal */

.container-slider {
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  /* box-shadow: 0 0 0 10px #fff,
              0 15px 50px; */
  position: relative;
}

.slider {
  display: flex;
  height: 600px; /* antes estaba en 400px*/
  width: 400%;
  margin-left: -100%;
  position: relative;
}

.slider:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
}

.slider__section {
  width: 100%;
  position: relative;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.6);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.slider__btn:hover {
  background: #fff;
}

.slider__btn--left {
  left: 10px;
}

.slider__btn--right {
  right: 10px;
}

.slider__content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
  z-index: 2;
  font-family: verdana;
}

.slider__title {
  font-size: 2.2em;
  margin: 0;
}

.slider__txt {
  margin: 5px 0;
}

.slider__link {
  display: block;
  border: 1px solid #ec6bdb;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  margin: 10px auto;
}

/* Tarjetas de productos más vendidos */

.top-products-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
  padding: 4.5rem 1rem;
  /* background: #41295a; */
  background: linear-gradient(
    to right,
    rgba(47, 7, 67, 0.7),
    rgba(65, 41, 90, 0.7)
  );
  color: rgba(24, 23, 23, 0.7);
  column-gap: 1rem;
}

.top-products-container h2 {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  padding: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.top-products-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 0 4rem;
  position: relative;
  border-radius: 0.8rem;
  flex: 1;
}

.top-product-img {
  width: 12rem;
  height: 60%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.top-number {
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0.8rem 0 50%;
  padding: 0.5rem;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 0;
}

.crossed-price {
  text-decoration-line: line-through;
  display: inline-block;
  margin: 0 0.5rem;
  opacity: 0.6;
}

.discount-tag {
  display: inline-block;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  padding: 0.1rem;
  border-radius: 0.3rem;
  color: rgba(255, 255, 255, 0.7);
}

.top-products-card button {
  position: absolute;
  bottom: 1rem;
  left: 2.5rem;
  right: 2.5rem;
  margin: auto;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 0;
}

.top-product-item {
  margin: 0.5rem 0;
  cursor: pointer;
}

.top-product-price {
  font-size: 2rem;
  position: absolute;
  bottom: 3rem;
  right: 0;
  left: 0;
}

.no-stock {
  display: inline-block;
  padding: 0.4rem;
  margin: 0 2rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
  background: linear-gradient(to right, #000000, #434343);
  border-radius: 1rem;
}

.top-products-card:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.top-products-card button:hover {
  /* left: 0;
  right: 0;
  bottom: 0;
  height: 3rem; */
  color: #9d50bb;
  background: rgba(236, 234, 234, 0.8);
}

/**************** Estilos de la sección de Preguntas Frecuentes *****************/
body {
  background-color: hsla(270, 100%, 13%, 1);
  background-image: radial-gradient(
      at 10% 5%,
      hsla(262, 100%, 8%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 96% 4%, hsla(270, 84%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(270, 73%, 34%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(272, 62%, 46%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(273, 67%, 58%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(274, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(278, 100%, 83%, 1) 0px, transparent 50%);
  color: #eeeeee;
}

.faq-section {
  min-height: 101vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  margin: 2rem 0;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.faq {
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.faq.last-faq {
  margin-bottom: 2rem;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.8rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.fa-chevron-down {
  transition: rotate 0.5s ease-in-out;
}

.faq.active .answer {
  max-height: 18.75rem;
}

.faq.active .fa-chevron-down {
  rotate: 180deg;
}
