/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech", sans-serif;
}

body {
  background-color: #7812b3;
}

/*************** Navbar ******************/
nav {
  background-color: #10002b;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 4rem 0.5rem 0rem;
  gap: 2rem;
  position: relative;
  height: 12vh;
}

/* .logo {
  position: absolute;
  left: 0;
  width: 4rem;
  margin-left: 1rem;
} */

.logo {
  position: absolute;
  left: 0;
  top: -0.4rem;
  width: 7rem;
  height: 12vh;
  margin-left: 0.5rem;
  /* margin-top: 1rem; */
  overflow: hidden;
}

.logo-img {
  position: relative;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  top: -0.4rem;
}

/* Buscador */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.search-term {
  width: 100%;
  border: 3px solid #7b2cbf;
  font-size: 1.25rem;
  border-right: none;
  padding: 0.3125rem;
  height: 3rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.search-term:focus {
  color: #7b2cbf;
}

.searchButton {
  width: 2.5rem;
  height: 3rem;
  border: 1px solid #7b2cbf;
  background: #7b2cbf;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1.25rem;
}

.search-wrap {
  width: 35%;
}

/* items del nav */

.link {
  background: none;
  border: none;
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 10px;
  margin: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

.nav-subtitles {
  background: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

label {
  cursor: pointer;
}

.link:hover,
.nav-subtitles:hover {
  color: #fff;
}

.dropdown {
  position: relative;
}

/* Contenido desplegable del Menú */
.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: #7b2cbf;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-15px);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
  width: 10rem;
  display: flex;
  flex-direction: column;
  font-size: 1.05rem;
  z-index: 3;
}

.dropdown > .link:hover + .dropdown-menu,
.dropdown-menu:hover {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 0.25rem;
  transition: scale 0.15 ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.dropdown-links:hover {
  color: #10002b;
  transform: translateX(5px);
}

/* Formulario de inicio de sesión y registro */
.container-form {
  width: 17vw;
  text-align: center;
}

.container-form-sign-out {
  width: 13vw;
  text-align: center;
}

.container-form-ind {
  display: flex;
  justify-content: space-around;
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(16, 0, 43, 0.4);
  padding: 1rem;
}

.login-form input {
  width: 100%;
  display: block;
  margin: 1rem auto;
  background-color: transparent;
  border: none;
  border-bottom: #fff 1px solid;
  outline: none;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #fff;
}

.login-form input[type="submit"] {
  width: 80%;
  margin: auto;
  border: solid 1px #fff;
  border-radius: 2rem;
  padding: 0.7rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #4a00e0;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.login-form input[type="submit"]:hover {
  background-color: #7812b3;
  color: rgba(255, 255, 255, 0.8);
}

.form-title {
  font-size: 1.5rem;
}

.form-text {
  margin-top: 1rem;
}

.message {
  padding: 2rem 0 1rem;
}

.message p {
  font-size: 0.85rem;
}

.sign-up-button {
  padding: 0.6rem;
  border-radius: 2rem;
  /* border: none; */
  border: #fff 1px solid;
  outline: none;
  cursor: pointer;
  font-size: 0.85rem;
  margin-top: 0.8rem;
  transition: all 0.3s ease-in;
  /* background-color: rgba(16, 0, 43, 0.6); */
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
}

.sign-up-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #10002b;
}

.sign-up {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.sign-up.clicked {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.login.clicked {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.warnings {
  text-align: center;
  line-height: 2;
  font-size: 0.9rem;
  color: #790513;
  margin: 1rem auto 0;
  padding: 0.3rem;
  background-color: rgba(238, 238, 238, 0.3);
  border-radius: 2rem;
}

.sign-out {
  color: rgba(238, 238, 238);
  font-size: 1.1rem;
  background-color: rgba(121, 5, 19, 0.63);
  text-align: left;
  padding: 0.5rem;
  border-radius: 2rem;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.toggle-button,
.button-toggle {
  display: none;
}

/* #responsive-menu {
  display: none;
} */
/*************** RESPONSIVE Navbar ******************/

@media screen and (max-width: 992px) {
  .toggle-button {
    display: inline-block;
    font-size: 3rem;
    cursor: pointer;
    color: #eeeeee;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  .button-toggle {
    display: inline-block;
  }

  .toggle-button:hover {
    color: #7b2cbf;
  }

  nav {
    max-height: 12vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    transition: all 3000ms;
  }

  .nav-minMax {
    min-height: 100vh;
  }

  .invisible {
    opacity: 0;
    pointer-events: none;
  }

  .visible {
    opacity: 1;
    pointer-events: all;
  }

  .nav-subtitles {
    font-size: 1.5rem;
  }

  .dropdown .link i {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .dropdown .link {
    margin-left: 1rem;
    align-items: flex-start;
    width: 20%;
  }

  a.link {
    margin-left: 1rem;
    align-items: flex-start;
    text-align: left;
  }

  a.link i {
    margin-bottom: 0.5rem;
  }

  .search-wrap {
    width: 80%;
    align-self: center;
    margin-left: 4rem;
    margin-top: 14vh;
  }

  .container-form {
    width: 50vw;
  }

  .dropdown-menu {
    width: 50vw;
  }

  .dropdown > .link:hover + .dropdown-menu,
  .dropdown-menu:hover {
    transform: translate(70%, -75%);
  }
}

/* Tarjetas de Categorias */
#categories-cards {
  display: flex;
  justify-content: space-evenly;
  column-gap: 1rem;
  padding: 5rem 1rem 3rem;
  background-color: hsla(270, 100%, 13%, 1);
  background-image: radial-gradient(
      at 67% 0%,
      hsla(262, 100%, 8%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 96% 4%, hsla(270, 84%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(270, 73%, 34%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(272, 62%, 46%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(273, 67%, 58%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(274, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(278, 100%, 83%, 1) 0px, transparent 50%);
  position: relative;
}

.categories {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.7rem;
  height: 60vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  flex: 1;
  transition: 0.5s all;
  cursor: pointer;
}

.categories h3 {
  margin-left: 0.8rem;
}


.categories:hover {
  filter: saturate(60%);
  filter: contrast(130%);
  flex: 1.5;
  color: #eeeeee;
  /* text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); */
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-title {
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* text-shadow: 4px 4px 2px #240046; */
}

.peripherals {
  background-image: url(images/peripherals.png);
}

.notebooks {
  background-image: url(images/notebooks.png);
}

.chairs {
  background-image: url(images/chair2.png);
}

.consoles {
  background-image: url(images/consoles2.png);
}

.monitors {
  background-image: url(images/monitors.jpg);
}

.graphics-cards {
  background-image: url(images/graphics-card.png);
}

/* Slider principal */

.container-slider,
.testi-container {
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  /* box-shadow: 0 0 0 10px #fff,
              0 15px 50px; */
  position: relative;
}

.slider,
.testimonial {
  display: flex;
  height: 600px; /* antes estaba en 400px*/
  width: 400% !important;
  margin-left: -100%;
  position: relative;
}

.slider:before,
.testimonial:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
}

.slider__section,
.testi-content {
  width: 100%;
  position: relative;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn,
.arrows {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.6);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.slider__btn:hover {
  background: #fff;
}

.slider__btn--left,
.arrow-left {
  left: 10px;
}

.slider__btn--right,
.arrow-right {
  right: 10px;
}

.slider__content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
  z-index: 2;
  font-family: verdana;
}

.slider__title {
  font-size: 2.2em;
  margin: 0;
}

.slider__txt {
  margin: 5px 0;
}

.slider__link {
  display: block;
  border: 1px solid #ec6bdb;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  margin: 10px auto;
}

/* Tarjetas de productos más vendidos */

.top-products-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
  padding: 4.5rem 1rem;
  /* background: #41295a; */
  background: linear-gradient(
    to right,
    rgba(47, 7, 67, 0.7),
    rgba(65, 41, 90, 0.7)
  );
  color: rgba(24, 23, 23, 0.7);
  column-gap: 1rem;
  height: 80vh;
}

.top-products-container h2 {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  padding: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.top-products-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 0 4rem;
  position: relative;
  border-radius: 0.8rem;
  flex: 1;
}

.top-product-img {
  width: 12rem;
  height: 60%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.top-number {
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0.8rem 0 50%;
  padding: 0.5rem;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 0;
}

.crossed-price {
  text-decoration-line: line-through;
  display: inline-block;
  margin: 0 0.5rem;
  opacity: 0.6;
}

.discount-tag {
  display: inline-block;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  padding: 0.1rem;
  border-radius: 0.3rem;
  color: rgba(255, 255, 255, 0.7);
}

.top-products-card button {
  position: absolute;
  bottom: 1rem;
  left: 2.5rem;
  right: 2.5rem;
  margin: auto;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 0;
}

.top-product-item {
  margin: 0.5rem 0;
  cursor: pointer;
}

.top-product-price {
  font-size: 2rem;
  position: absolute;
  bottom: 3rem;
  right: 0;
  left: 0;
}

.no-stock {
  display: inline-block;
  padding: 0.4rem;
  margin: 0 2rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
  background: linear-gradient(to right, #000000, #434343);
  border-radius: 1rem;
}

.top-products-card:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.top-products-card button:hover {
  /* left: 0;
  right: 0;
  bottom: 0;
  height: 3rem; */
  color: #9d50bb;
  background: rgba(236, 234, 234, 0.8);
}

/**************** Estilos de la sección de Preguntas Frecuentes *****************/
body {
  background-color: hsla(270, 100%, 13%, 1);
  background-image: radial-gradient(
      at 10% 5%,
      hsla(262, 100%, 8%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 96% 4%, hsla(270, 84%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(270, 73%, 34%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(272, 62%, 46%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(273, 67%, 58%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(274, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(278, 100%, 83%, 1) 0px, transparent 50%);
  color: #eeeeee;
}

.faq-section {
  min-height: 101vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  margin: 2rem 0;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.faq {
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.faq.last-faq {
  margin-bottom: 2rem;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.8rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.fa-chevron-down {
  transition: rotate 0.5s ease-in-out;
}

.faq.active .answer {
  max-height: 18.75rem;
}

.faq.active .fa-chevron-down {
  rotate: 180deg;
}

/* Sección de resenas/testimonios */

.testi-container {
  height: 60vh;
  /* width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.testimonial {
  /* max-width: 900px;
  position: relative;
  width: 100%; */
  height: 100%;
  background: rgba(255, 255, 255, 0.288);
  width: 500% !important;
}

.testimonial .image {
  height: 9rem;
  width: 9rem;
  object-fit: cover;
  object-position: center 25%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.testimonial .testi-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.2rem;
  padding: 2rem;
}

.testi-slide p {
  padding: 0 8rem;
  text-align: center;
  font-weight: 100;
  font-size: 1.2rem;
  color: #eeeeee;
}

.testi-slide .quote-icon {
  font-size: 2rem;
  color: rgba(47, 7, 67, 0.8);
}

.testi-slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  margin-bottom: 2rem;
}

.details .testi-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #eeeeee;
}

.details .testi-job {
  font-size: 1.1rem;
  font-weight: 100;
}

.arrows {
  background-color: transparent;
}

.arrows:hover {
  color: #10002b;
}

/* Sección de servicios */

.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-column-gap: 5rem; /*cambio aca para que se vea bien en todos los monitores */
  padding: 3rem;
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
  justify-content: center;
}

.service {
  text-align: center;
  margin: 1rem 0;
  border-left: 1px solid rgba(0, 0, 0, 0.226);
  border-right: 1px solid rgba(0, 0, 0, 0.226);
  padding: 0 0.5rem;
  color: #10002b;
}

.service h4 {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.service i {
  font-size: 2rem;
  color: rgba(47, 7, 67, 0.8);
}

/* Pie de Página - Footer */

/* body {
  background: #fcfcfc;
} */
.subtitulo {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 1.8rem;
  color: #eaeaea;
}

footer {
  background: #111;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #ec6bdb;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: #eeeeee;
}
.footer-bottom {
  background: #000000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/* SECCION CATEGORIAS */

.wrap {
  max-width: 1100px;
  width: 90%;
  margin: auto;
}

.wrap > h1 {
  color: #ca6bf0;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 0px;
}

.wrap > h1:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #9d50bb;
  margin: 20px 0;
}

.store-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.category_list {
  display: flex;
  flex-direction: column;
  width: 18%;
}

.category_list .category_item {
  display: block;
  width: 90%;
  padding: 15px 0;
  margin-bottom: 20px;
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  color: rgba(255, 255, 255, 0.8);

  text-align: center;
  text-decoration: none;
}

.category_list .ct_item-active {
  background: rgba(255, 255, 255, 0.8);
  color: #9d50bb;
}

/* PRODUCTOS ============*/

.products-list {
  width: 82%;
  display: flex;
  flex-wrap: wrap;
}

.products-list .product-item {
  width: 22%;
  height: 300px;
  margin-left: 3%;
  margin-bottom: 25px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 0 4rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;

  transition: all 0.4s;
}

/* .top-products-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 0 4rem;
  position: relative;
  border-radius: 0.8rem;
  flex: 1;
} */

.products-list .product-item img {
  width: 100%;
  max-height: 140px;
}

.products-list .product-item a {
  display: block;
  width: 100%;
  padding: 8px 0;
  background: #2d3e50;

  color: #fff;
  text-align: center;
  text-decoration: none;
}

.product-price {
  font-size: 2rem;
  position: absolute;
  bottom: 3rem;
  color: #9d50bb;
}

.products-list .product-item button {
  position: absolute;
  bottom: 1rem;
  left: 2.5rem;
  right: 2.5rem;
  margin: auto;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 0;
}

.products-list .product-item button:hover {
  color: #9d50bb;
  background: rgba(236, 234, 234, 0.8);
}

.product-item__title {
  margin: 0.5rem 0;
  padding-bottom: 5px;
  cursor: pointer;
  color: #9d50bb;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px) {
  .products-list .product-item {
    width: 30.3%;
  }
}

@media screen and (max-width: 900px) {
  .category_list,
  .products-list {
    width: 100%;
  }

  .category_list {
    flex-direction: row;
    justify-content: space-between;
  }

  .category_list .category_item {
    align-self: flex-start;
    width: 15%;
    font-size: 14px;
  }

  .products-list .product-item {
    margin-left: 4.5%;
  }

  .products-list .product-item:nth-child(3n + 1) {
    margin-left: 0px;
  }
}

@media screen and (max-width: 700px) {
  .category_list {
    flex-direction: column;
  }
  .category_list .category_item {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .products-list .product-item {
    width: 47.5%;
  }

  .products-list .product-item:nth-child(3n + 1) {
    margin-left: 4.5%;
  }

  .products-list .product-item:nth-child(2n + 1) {
    margin-left: 0px;
  }
}

@media screen and (max-width: 350px) {
  .products-list .product_item {
    width: 100%;
    margin-left: 0px;
  }
}

.footer-bottom {
  width: 100%;
}

/* cart */

.cart-page {
  margin: 80px auto;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 10px;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #9d50bb;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: #9d50bb;
  font-size: 12px;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #9d50bb;
  margin-right: 10%;
  width: 100%;
  max-width: 350px;
  margin-bottom: 2%;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}

.compra_button {
  margin-left: 68%;
  padding: 10px;
  font-weight: bolder;
  background: #c46bf7;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  transition: color 0.15s, background-color 0.15s;
}

.compra_button:hover {
  color: #c46bf7;
  background-color: #fff;
}

.contact-form{
  background-color: #ac60ca;
  width: 1000px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 4px;
  padding: 55px 30px;
}

form .titulo h2{
  letter-spacing: 6px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

form .half{
  display: flex;
  justify-content: space-between;
}

form .half .item{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
}

form label{
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
}

form .half .item input{
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
}

form .full{
  margin-bottom: 24px;
}

form .full textarea{
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 17px;
}

form .action{
  margin-bottom: 32px;
}

form .action button{
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
}

form .icons a{
  border: 1px solid white;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  font-weight: 600;
  width: 38px;
  margin-right: 10px;
}

form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover, form .icons a:hover{
  background: rgba(255,255,255,0.075);
}

@media (max-width: 480px){
  form .half{
    flex-direction: column;
  }
  form .half .item{
    width: 100%;
  }
  form .action{
    display: flex;
    flex-direction: column;
  }
  form .action input{
    margin-bottom: 10px;
    width: 100%;
  }
}

.warnings{
  width: 200px;
    text-align: center;
    margin: auto;
    color: #ffffff;
    padding-top: 20px;
}